
/*************************/
/* Custom CSS properties */
/*************************/

:root{

    /* Custom Colours */
    --primary-clr-100: #D87D4A;
    --primary-clr-dark: #101010;
    --primary-clr-light: #F1F1F1;
    --primary-clr-white: #FAFAFA;

    --sec-clr-100: #FBAF85;
    --sec-clr-white: #FFFFFF;
    --sec-clr-black: #000000;

    /* Custom Fonts */
    --ff-main: "Manrope", sans-serif;

    /* Custom Font Sizes */
    --fs-h1: 3.5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-h4: 1.75rem;
    --fs-h5: 1.5rem;
    --fs-h6: 1.125rem;
    --fs-spaced: 0.875rem;
    --fs-subtitle: 0.813rem;
    --fs-body: 0.938rem;

    /* Custom Font Weights */

    --fw-bold: 700;
    --fw-reg: 400;
    --fw-med: 500;

    /* Custom line spacing */

    --lh-h1: 56px;
    --lh-h2: 44px;
    --lh-h3: 36px;
    --lh-h4: 28px;
    --lh-h5: 24px;
    --lh-h6: 24px;
    --lh-spaced: 19px;
    --lh-subtitle: 25px;
    --lh-subtitle: 25px;
    --lh-body: 25px;

    /* Custom Char Spacing */

    --cs-h1: 2px;
    --cs-h2: 1.5px;
    --cs-h3: 1.15px;
    --cs-h4: 2px;
    --cs-h5: 1.7px;
    --cs-h6: 1.3px;
    --cs-spaced: 10px;
    --cs-subtitle: 1px;
    
}

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h1);
    letter-spacing: var(--cs-h1);
    text-transform: uppercase;
}

h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h2);
    letter-spacing: var(--cs-h2);
    text-transform: uppercase;
}

h3{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h3);
    letter-spacing: var(--cs-h3);
    text-transform: uppercase;
}

h4{
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h4);
    letter-spacing: var(--cs-h4);
    text-transform: uppercase;
}

h5{
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h5);
    letter-spacing: var(--cs-h5);
    text-transform: uppercase;
}

h6{
    font-size: var(--fs-h6);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h6);
    letter-spacing: var(--cs-h6);
    text-transform: uppercase;
}

.spaced{
    font-size: var(--fs-spaced);
    font-weight: var(--fw-reg);
    line-height: var(--lh-spaced);
    letter-spacing: var(--cs-spaced);
    text-transform: uppercase;
}

.subtitle{
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
    line-height: var(--lh-subtitle);
    letter-spacing: var(--cs-subtitle);
    text-transform: uppercase;
}

p{
    font-size: var(--fs-body);
    font-weight: var(--fw-med);
    line-height: var(--lh-body);
}

.btn-main{
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
    line-height: var(--lh-subtitle);
    letter-spacing: var(--cs-subtitle);
    text-transform: uppercase;
    color: var(--sec-clr-white);
    background-color: var(--primary-clr-100);
    border: none;
    height: 48px;
    width: 160px;
}

.btn-main:hover{
    background-color: var(--sec-clr-100);
}

.btn-light{
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
    line-height: var(--lh-subtitle);
    letter-spacing: var(--cs-subtitle);
    text-transform: uppercase;
    color: var(--sec-clr-black);
    background-color: var(--sec-clr-white);
    border: var(--sec-clr-black) 1px solid;
    height: 48px;
    width: 160px;
}

.btn-light:hover{
    color: var(--sec-clr-white);
    background-color: var(--sec-clr-black);
    border: none;
}

.btn-minimal{
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
    line-height: var(--lh-subtitle);
    letter-spacing: var(--cs-subtitle);
    text-transform: uppercase;
    color: var(--sec-clr-black);
    background: none;
    border: none;
}

.btn-minimal:hover{
    color: var(--primary-clr-100);
}

body{
  font-family: var(--ff-main);
}

/* General Styling */


/* Main Section Styling */

main{
  background-color: var(--primary-clr-dark);
  color: var(--sec-clr-white);
}


/* Shop Links */



/* Product Showcase */

.product-showcase{
  background-color: var(--primary-clr-100);
  color: var(--sec-clr-white);
}

/* About Section */

.about-section{
  h4{
    span{
      color: var(--primary-clr-100);
    }
  }
}


/* Footer */

footer{
  background-color: var(--primary-clr-dark);
  color:var(--sec-clr-white);
}